# Development
POSTGRESQL_DATABASE=TA_local
POSTGRESQL_PORT=5432
POSTGRESQL_HOST=localhost
POSTGRESQL_USER=postgres
POSTGRESQL_PASSWORD=bacphan1!
POSTGRES_PRISMA_URL=postgresql://${POSTGRESQL_USER}:${POSTGRESQL_PASSWORD}@${POSTGRESQL_HOST}:${POSTGRESQL_PORT}/${POSTGRESQL_DATABASE}?schema=public

ACCESS_TOKEN_SECRET="60CUnffIglayiS357LkF75J4pQcGbwUIhoF8PmHf49ZASwxVfkpYvZYoqY6Ls+JlVQPBhpnf2N5vobIwwkcY9L2Sr97GbHPki0VC0UJv4Pmiljs+2RZdGJDaKJT2655v+3gpVUk23GfSpM+jbuQfJChofPGXdZgcXZi8c8okxC2JqyqPjR1LUd2pqUFHAxCzBS9bamCo0HJglGS7K6biqMaXGb+g3LYQalVUFw=="
ACCESS_TOKEN_EXPIRES_IN="30d"
REFRESH_TOKEN_SECRET="w3yAX/TPnSMTFbmpkVr6fiCqecISp9yyJdasxGEk3V6fxQFKu0bgerMCKofEP/Hl6hwtAH0SINpmxB46ctHJePcSHotdVY08RWoUUzy3oH5kgc+bTKRs+wsDN/6sSIFv2jcclqPhP/kczlXkUSg7zLyTWVuOtPzMaibN35TG7upscNUHsWuNF36hGqfx39IikKNjDFcJlWvlX8xS97yJ5Xupm/cgScx+7q9aQQ=="
REFRESH_TOKEN_EXPIRES_IN="30d"

PORT=9981
