DB_PASSWORD=G2cdp6rYFIZXGjqu
DB_USER=bao
DB_NAME=tinder
DB_HOST=cluster0.5r8vl.mongodb.net

DATABASE_URL=mongodb+srv://${DB_USER}:${DB_PASSWORD}@${DB_HOST}/${DB_NAME}?retryWrites=true&w=majority

ACCESS_TOKEN_SECRET="60CUnffIglayiS357LkF75J4pQcGbwUIhoF8PmHf49ZASwxVfkpYvZYoqY6Ls+JlVQPBhpnf2N5vobIwwkcY9L2Sr97GbHPki0VC0UJv4Pmiljs+2RZdGJDaKJT2655v+3gpVUk23GfSpM+jbuQfJChofPGXdZgcXZi8c8okxC2JqyqPjR1LUd2pqUFHAxCzBS9bamCo0HJglGS7K6biqMaXGb+g3LYQalVUFw=="
ACCESS_TOKEN_EXPIRES_IN="1d"
REFRESH_TOKEN_SECRET="w3yAX/TPnSMTFbmpkVr6fiCqecISp9yyJdasxGEk3V6fxQFKu0bgerMCKofEP/Hl6hwtAH0SINpmxB46ctHJePcSHotdVY08RWoUUzy3oH5kgc+bTKRs+wsDN/6sSIFv2jcclqPhP/kczlXkUSg7zLyTWVuOtPzMaibN35TG7upscNUHsWuNF36hGqfx39IikKNjDFcJlWvlX8xS97yJ5Xupm/cgScx+7q9aQQ=="
REFRESH_TOKEN_EXPIRES_IN="30d"

PORT="9981"
TZ=0

OPEN_AI_API_KEY=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
GEMINI_API_KEY=AIzaSyCJ9qbjhky84SOggUxfRqrUpJY-R6qZpOk